*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.footer {
  text-align: center;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.board .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.board .square:hover {
  background-color: #858585c0;
}

.board .square:disabled {
  cursor: not-allowed;
}

.board .square.top {
  border-bottom: 10px solid #000000;
}

.board .square.bottom {
  border-top: 10px solid #000000;
}

.board .square.left {
  border-right: 10px solid #000000;
}

.board .square.right {
  border-left: 10px solid #000000;
}

.board .square.winner {
  -webkit-animation: winnerBackground infinite 2s;
          animation: winnerBackground infinite 2s;
}

.board .square.blocked {
  -webkit-animation: blockedBoard infinite 2s;
          animation: blockedBoard infinite 2s;
}

.board .square .o {
  width: 80%;
  height: 80%;
  border: 20px solid #000000;
  border-radius: 50%;
}

.board .square .x {
  width: 90%;
  height: 90%;
  position: relative;
}

.board .square .x::before, .board .square .x::after {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  background-color: #000000;
  border-radius: 5px;
}

.board .square .x::before {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.board .square .x::after {
  right: 50%;
  -webkit-transform: translateX(50%) rotate(-45deg);
          transform: translateX(50%) rotate(-45deg);
}

@-webkit-keyframes winnerBackground {
  0% {
    background-color: white;
  }
  50% {
    background-color: yellowgreen;
  }
  100% {
    background-color: white;
  }
}

@keyframes winnerBackground {
  0% {
    background-color: white;
  }
  50% {
    background-color: yellowgreen;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes blockedBoard {
  0% {
    background-color: white;
  }
  50% {
    background-color: #be3636;
  }
  100% {
    background-color: white;
  }
}

@keyframes blockedBoard {
  0% {
    background-color: white;
  }
  50% {
    background-color: #be3636;
  }
  100% {
    background-color: white;
  }
}
/*# sourceMappingURL=style.css.map */