[data-mode='dark'] {
  --color: #fff;
  --bgc: #1c1b22;
}

[data-mode='dark'] .moon {
  display: none;
}

[data-mode='dark'] .sun {
  display: block;
}

[data-mode='light'] {
  --color: #1c1b22;
  --bgc: #fff;
}

[data-mode='light'] .sun {
  display: none;
}

[data-mode='light'] .moon {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--bgc);
  color: var(--color);
}

.header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .theme-toggle {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.header .theme-toggle img {
  width: 100%;
  height: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.main .restart {
  padding: 15px 30px;
  margin-top: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color);
  background-color: var(--bgc);
  border: 2px solid var(--color);
  cursor: pointer;
}

.footer {
  text-align: center;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: clamp(100px, 600px, 100vw);
  height: clamp(100px, 600px, 100vw);
}

.board .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  height: 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.board .square:hover {
  background-color: #858585c0;
}

.board .square:disabled {
  cursor: not-allowed;
}

.board .square.top {
  border-bottom: 10px solid var(--color);
}

.board .square.bottom {
  border-top: 10px solid var(--color);
}

.board .square.left {
  border-right: 10px solid var(--color);
}

.board .square.right {
  border-left: 10px solid var(--color);
}

.board .square.winner {
  -webkit-animation: winnerBackground infinite 2s;
          animation: winnerBackground infinite 2s;
}

.board .square.blocked {
  -webkit-animation: blockedBoard infinite 2s;
          animation: blockedBoard infinite 2s;
}

.board .square .o {
  width: 80%;
  height: 80%;
  border: 20px solid var(--color);
  border-radius: 50%;
}

.board .square .x {
  width: 90%;
  height: 90%;
  position: relative;
}

.board .square .x::before, .board .square .x::after {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  background-color: var(--color);
  border-radius: 5px;
}

.board .square .x::before {
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.board .square .x::after {
  right: 50%;
  -webkit-transform: translateX(50%) rotate(-45deg);
          transform: translateX(50%) rotate(-45deg);
}

@-webkit-keyframes winnerBackground {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellowgreen;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes winnerBackground {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: yellowgreen;
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes blockedBoard {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #be3636;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes blockedBoard {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #be3636;
  }
  100% {
    background-color: transparent;
  }
}
/*# sourceMappingURL=style.css.map */